<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/semana6/css/reset.css">
        <link rel="stylesheet" href="/semana6/css/style.css">
        <link rel="stylesheet" href="/semana6/css/header.css">
        <link rel="stylesheet" href="/semana6/css/main.css">
        <link rel="stylesheet" href="/semana6/css/login.css">
        <link rel="stylesheet" href="/semana6/css/navbar.css">
        <link rel="stylesheet" href="/semana6/css/footer.css">
        <title>GigaTech Software Solutions SA</title>
    </head>

    <body>
        <header>
            <div class="conteiner-logo">
                <img class="logo" src="/semana6/assets/logo.png" alt="Logo" />
                <h1>GigaTech Software Solutions SA</h1>
            </div>
        </header>
        <aside>
            <section class="container-one">
                <nav>
                    <div class="container-search">
                        <img class="back" src="/semana6/assets/back.jpeg" alt="back" />
                        <img class="search" src="/semana6/assets/search.jpeg" alt="search" />
                        <input class="space" type="text" />
                    </div>

                    <div class="container-menu">
                        <a class="menu-link" href="#"> Home </a>
                        <a class="menu-link" href="#"> SignUp </a>
                        <a class="menu-link" href="#"> Login </a>
                        <a class="menu-link" href="#"> Information </a>
                    </div>
                    <div class="container-info">
                        <h2>Contact Us</h2>
                        <div class="iconos">
                            <img class="icons" src="/semana6/assets/gmail.jpeg" alt="gmail">
                            <p>traackgenix@gmail.com</p>
                        </div>
                        <div class="iconos">
                            <img class="icons" src="/semana6/assets/gps.jpeg" alt="gps">
                            <p>Pellegrini 3000 Rosario, Argentina</p>
                        </div>
                        <div class="iconos">
                            <div>
                                <img class="icons" src="/semana6/assets/call.jpeg" alt="call">
                            </div>
                            <p>0800999000</p>
                        </div>
                </nav>
                </div>
            </section>
        </aside>
        <main>
            
        </main>
        <footer>
            <h5>© 2022 GiganTech Sofware Solutions SA.</h5>
            <div>
                <a href="#">
                    <img src="/semana6/assets/facebook.jpeg" alt="Facebook">
                </a>
                <a href="#">
                    <img src="/semana6/assets/twiter.jpeg" alt="Twitter">
                </a>
                <a href="#">
                    <img src="/semana6/assets/linkedin.jpeg" alt="Linkedin">
                </a>
        </footer>
    </body>
</html>