<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/semana6/css/reset.css"/>
        <link rel="stylesheet" href="/semana6/css/style.css"/>
        <link rel="stylesheet" href="/semana6/css/header.css"/>
        <link rel="stylesheet" href="/semana6/css/main.css"/>
        <link rel="stylesheet" href="/semana6/css/login.css"/>
        <link rel="stylesheet" href="/semana6/css/navbar.css"/>
        <link rel="stylesheet" href="/semana6/css/footer.css"/>
        <link rel="stylesheet" href="/semana6/css/employee-sign.up.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <script src="/semana6/javascrip/signup.js"></script>r
        <title>GigaTech Software Solutions SA</title>
    </head>

    <body>
        <header>
            <div class="conteiner-logo">
                <img class="logo" src="/semana6/assets/logo.png" alt="Logo" />
                <h1>GigaTech Software Solutions SA</h1>
            </div>
        </header>
        <aside>
            <section class="container-one">
                <nav>
                    <div class="container-search">
                        <img class="back" src="/semana6/assets/back.jpeg" alt="back" />
                        <img class="search" src="/semana6/assets/search.jpeg" alt="search" />
                        <input class="space" type="text" />
                    </div>

                    <div class="container-menu">
                        <a class="menu-link" href="#"> Home </a>
                        <a class="menu-link" href="#"> SignUp </a>
                        <a class="menu-link" href="#"> Login </a>
                        <a class="menu-link" href="#"> Information </a>
                    </div>
                    <div class="container-info">
                        <h2>Contact Us</h2>
                        <div class="iconos">
                            <img class="icons" src="/semana6/assets/gmail.jpeg" alt="gmail">
                            <p>traackgenix@gmail.com</p>
                        </div>
                        <div class="iconos">
                            <img class="icons" src="/semana6/assets/gps.jpeg" alt="gps">
                            <p>Pellegrini 3000 Rosario, Argentina</p>
                        </div>
                        <div class="iconos">
                            <div>
                                <img class="icons" src="/semana6/assets/call.jpeg" alt="call">
                            </div>
                            <p>0800999000</p>
                        </div>
                </nav>
                </div>
            </section>
        </aside>
        <main>
                <div class="signUp-container">
                    <h3 id="signup-h3">
                        Sign up
                    </h3>
                    <form action="" id="signUp-form">
                        <div id="singUpform1" class="singUpform">
                            <label for="sign-up-name" id="labelname">Name</label>
                            <input type="text" id="inputname">
                            <p id="errorcomplete1"> Complete</p>
                        </div>
                        <div class="singUpform" id="singUpform2" >
                            <label for="sign-up-lastname"id="labellastname">Last Name</label>
                            <input type="text" id="inputlastname">
                            <p id="errorcomplete2">Complete</p>
                        </div>
                        <div class="singUpform" id="singUpform3">
                            <label for="sign-up-dni" id="labeldni">DNI</label>
                            <input type="text" id="inputdni">
                            <p id="errorcomplete3">Complete</p>
                        </div>
                        <div class="singUpform" id="singUpform4">
                            <label for="sign-up-date" id="labeldata">Birth's Date</label>
                            <input type="date" id="inputdata">
                            <p id="errorcomplete4">Complete</p>
                        </div>
                        <div class="singUpform" id="signUpform5">
                            <label for="sign-up-phone" id="labelphone">Phone</label>
                            <input type="text" id="inputphone">
                            <p id="errorcomplete5">Complete</p>
                        </div>
                        <div class="singUpform" id="signUpform6">
                            <label for="sign-up-address" id="labeladdress">Address</label>
                            <input type="text" id="inputaddress">
                            <p id="errorcomplete6">Complete</p>
                        </div>
                        <div class="singUpform" id="signUpform7">
                            <label for="sign-up-location" id="labellocation">Location</label>
                            <input type="text" id="inputlocation">
                            <p id="errorcomplete7">Complete</p>
                        </div>
                        <div class="singUpform">
                            <label for="sign-up-cp" id="labelcode">Postal Code</label>
                            <input type="text" id="inputcode">
                            <p id="errorcomplete8">Complete</p>
                        </div>
                        <div class="singUpform">
                            <label for="sign-up-email" id="labelemail">Email</label>
                            <input type="text" id="inputemail">
                            <p id="errorcomplete9">Complete</p>
                        </div>
                        <div class="singUpform">
                            <label for="sign-up-password" id="labelpassword">Password</label>
                            <input type="password" id="inputpassword">
                            <p id="errorcomplete10">Complete</p>
                        </div>
                        <div class="singUpform">
                            <label for="sign-up-password-repeat" id="labelrepeatpass">Repeat Password</label>
                            <input type="password" id="inputrepeatpass">
                            <p id="errorcomplete11">Complete</p>
                        </div>
                    </form>
                    <input type="submit" value="Sign Up" id="sumbitB">
                </div>
    </main>
        </main>
        <footer>
            <h5>© 2022 GiganTech Sofware Solutions SA.</h5>
            <div>
                <a href="#">
                    <img src="/semana6/assets/facebook.jpeg" alt="Facebook">
                </a>
                <a href="#">
                    <img src="/semana6/assets/twiter.jpeg" alt="Twitter">
                </a>
                <a href="#">
                    <img src="/semana6/assets/linkedin.jpeg" alt="Linkedin">
                </a>
        </footer>
    </body>
</html>