main {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.conteiner-helph3 {
    display: flex;
    justify-content: start;
    align-items: center;
}
.conteiner-helph3,
h2 {
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding-right: 100px;
}
.menunav {
    width: 30px;
    height: 30px;
}
.img-1 {
    width: 300px;
    border-radius: 10px;
}

.conteiner-imgtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteiner-text1 {
    width: 75vw;
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteiner-text1 h4 {
    font-weight: bold;
    font-size: 25px;
}

.readmore1 {
    opacity: 0.4;
    margin-bottom: 10px;
}

.img-2 {
    width: 300px;
    border-radius: 10px;
}

.conteiner-imgtext2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteiner-text2 {
    width: 75vw;
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteiner-text2 h4 {
    font-weight: bold;
    font-size: 25px;
}
.conteiner-text2 button {
    margin: 10px;
}

.conteiner-imgtext3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteiner-text3 {
    width: 75vw;
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-3 {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.conteiner-text3 h4 {
    font-weight: bold;
    font-size: 25px;
}

.conteiner-text3 button {
    margin: 10px;
}

.sectionwork {
    display: flex;
    flex-direction: column;
    padding: 30px;
   
}
.conteiner-section2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.trayectory {
    padding: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 32px;
    height: 13vh;
}

.imgwork3 {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
.conteiner-pwork p {
    padding: 10px;
}

.sectionwork3 {
    display: flex;
    flex-direction: column;
    justify-content: CENTER;
    align-items: center;
}
.workwhit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.conteiner-pc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.develop {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.conteiner-section3 {
    padding: 30px;
}


.sectionfunctions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionfunctions h2 {
    font-size: 40px;
    padding: 10px;
}

.sectionfunctions ol {
    font-size: 28px;
}

.conteiner-getintouch {
    display: flex;
    flex-direction: column;
}

.conteiner-getintouch h2 {
    font-size: 45px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.conteiner-getintouch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameemail {
    height: 20px;
    width: 300px;
}

.conteiner-area {
    width: 300px;
}

.conteiner-six h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.group381{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.img381{
    width: 300px;
    height: 300px;
}

.conteinerlist2 img {
    display: flex;
    flex-direction: column;
    padding: 70px;
}

.conteinerlist2 li {
    padding: 50px;
    text-align: start;
    width: 75%;
    font-size: 25px;
}

.sectionseven {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionseven h2 {
    text-align: center;
    padding: 10px;
    font-size: 40px;
}

.sectionseven h3 {
    text-align: center;
    padding: 10px;
    font-size: 40px;
}

.sectionseven ol {
    text-align: start;
    width: 200px;
    ;
    font-size: 16px;
}

.sectionseven ul {
    list-style-type: disc;
    text-align: start;
    width: 200px;
    ;
    font-size: 16px;
}
