* {
  box-sizing: border-box;
  color: #373867;
  /* border: red solid; */
}
 .logo {
  width: 86px;
  height: 72px;
  position: relative;
  top: 45px;
  left: 35px;
  border-radius: 10px;
}
header {
  background-color: #373867;
  position: fixed;
  z-index: 1;
  width: 100%;
}
h1 {
  font-size: 60px;
  text-align: center;
  color: white;
  position: relative;
  bottom: 30px;
}
nav {
  font-size: 20px;
}
a {
  text-decoration: none;
}
.container-one {
  position: fixed;
  background-color: #c4c4c4;
  text-align: center;
  width: 360px;
  height: 800px;
  top: 143px;
  z-index: 1;
}

.container-menu {
  border-bottom: black solid;
}
.container-info {
  border-bottom: black solid;
}
.menu-link {
  display: block;
  width: 360px;
  height: 124px;
}
.search {
  width: 28px;
  height: 22px;
}
.space {
  position: relative;
  bottom: 7px;
  width: 306px;
}
.icons {
  position: relative;
  top: 23px;
  right: 165px;
}
.help {
  position: relative;
  float: right;
  top: 145px;
}
.img-1 {
  width: 600px;
  height: 450px;
  top: 30px;
  border-radius: 10px;
}
.trackgenix {
  position: relative;
  text-align: center;
  font-size: 60px;
  text-decoration: underline;
  top: 150px;
  left: 70px;
}
.conteiner-imgtext {
  position: relative;
  bottom: -210px;
  left: 500px;
  width: 100%;
}
.conteiner-text1 {
  width: 550px;
}
.keep {
  font-size: 30px;
}
.img-2 {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.img-3 {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.conteiner-imgtext2 {
  float: right;
  position: relative;
  bottom: 355px;
  right: 475px;
}
.conteiner-text2 {
  line-height: 50px;
  position: relative;
  bottom: 200px;
  left: 230px;
  border-bottom: solid black;
  width: 290px;
}
.conteiner-imgtext3 {
  float: right;
  position: relative;
  bottom: 95px;
  right: 175px;
}
.conteiner-text3 {
  line-height: 50px;
  position: relative;
  bottom: 200px;
  left: 230px;
  border-bottom: solid black;
  width: 290px;
}
.keep1 {
  font-size: 25px;
}

.sectionwork {
  text-align: center;
  position: relative;
  left: 305px;
  top: 250px;
  border: solid black;
}
.trayectory {
  font-size: 60px;
  position: relative;
  left: 200px;
}
.conteiner-pwork {
  font-size: 24px;
  position: relative;
  left: 200px;
  width: 350px;
  top: 15px;
  line-height: 70px;
  text-align: start;
  height: 100%;
}
.conteiner-work {
  float: right;
  position: relative;
  bottom: 520px;
  right: 420px;
}
.sectionwork3 {
  font-size: 20px;
  position: relative;
  top: 245px;
  left: 355px;
  width: 100%;
  height: 700px;
}
.workwhit {
  font-size: 60px;
  position: relative;
  left: 560px;
}
.conteiner-pcline {
  position: relative;
  bottom: -70px;
  left: 100px;
}
.pcline {
  position: relative;
  bottom: 160px;
  left: 190px;
  width: 320px;
}
.develop {
  font-size: 30px;
  line-height: 60px;
}
.grouplist {
  position: relative;
  bottom: 500px;
  left: 950px;
}
.grouplist1 {
  position: relative;
  bottom: 500px;
  left: 950px;
}
.runningtake {
  position: relative;
  bottom: 650px;
  left: 1100px;
  font-size: 30px;
  line-height: 60px;
}
.take {
  position: relative;
  bottom: 660px;
  left: 1100px;
  font-size: 30px;
  line-height: 50px;
}
.runningtakep {
  position: relative;
  bottom: 650px;
  left: 1100px;
  font-size: 20px;
  width: 300px;
}
.takep {
  position: relative;
  bottom: 650px;
  left: 1100px;
  font-size: 20px;
  width: 280px;
}
.sectionfunctions {
  border: black solid;
  position: relative;
  top: 242px;
  left: 355px;
  height: 600px;
}
.functions {
  font-size: 60px;
  text-align: center;
  position: relative;
  right: 180px;
}
.conteiner-work2 {
  position: relative;
  right: -120px;
  top: 30px;
}
.conteiner-ol {
  float: right;
  font-size: 60px;
  line-height: 100px;
  position: relative;
  right: 440px;
  bottom: 400px;
}
.conteiner-getintouch {
  border-bottom: black solid;
  position: relative;
  left: 355px;
  top: 240px;
  height: 370px;
}
.getintouch {
  font-size: 80px;
  text-align: center;
  position: relative;
  right: 180px;
  line-height: 120px;
}
.nameemail {
  height: 40px;
  width: 550px;
  position: relative;
  left: 500px;
}
.area {
  font-size: 25px;
  position: relative;
  left: 500px;
}

.recourse-area {
  height: 40px;
  width: 550px;
  position: relative;
  left: 501px;
}
.box {
  position: relative;
  left: 501px;
}
.box1 {
  height: 100px;
  width: 549px;
}
.conteiner-six {
  border-bottom: black solid;
  position: relative;
  left: 355px;
  top: 240px;
  height: 700px;
}
.conteiner-six h2 {
  font-size: 60px;
  text-align: center;
  position: relative;
  right: 180px;
  line-height: 80px;
  height: 200px;
}
.conteinerlist2 {
  position: relative;
  top: -80px;
  left: 280px;
}
.conteiner-six ul {
  font-size: 33px;
  position: relative;
  width: 390px;
  left: 850px;
  bottom: 520px;
  list-style-type: disc;
  line-height: 35px;
}
.sectionseven {
  border-top: black solid;
  position: relative;
  left: 355px;
  top: 238px;
  height: 470px;
  text-align: center;
}
.sectionseven h2 {
  font-size: 60px;
  position: relative;
  right: 170px;
}
.sectionseven h3 {
  font-size: 40px;
}
.sectionseven ul,
ol {
  font-size: 30px;
}
.olistordered {
  float: left;
  position: relative;
  left: 250px;
}

.olist {
  float: left;
  width: 350px;
  position: relative;
  top: 70px;
  left: 90px;
  text-align: start;
}
.ulist {
  list-style-type: disc;
  float: right;
  width: 350px;
  position: relative;
  top: 20px;
  right: 500px;
  text-align: start;
}
.ulist ul {
  list-style-type: disc;
  width: 350px;
}
.ulisth3 {
  position: relative;
  right: 80px;
}
footer {
  padding: 10px;
  /border-bottom: solid black; */
   position: relative;
  left: 250px;
  text-align: center;
  top: 237px;
  height: 50px;
}
.imgwork3 {
  border-radius: 10px;
}
.readmore {
  position: relative;
  left: 200px;
}
.readmore1 {
  position: relative;
  left: 500px;
} 
